<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <h4 class="mb-5">Create Flag Detective Game</h4>
  <%- include ('./partials/SuccessError'); -%>
  <form
    class="add-quiz-form row needs-validation"
    action="/game-management/create-flag-detective-game"
    method="POST"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="row">
      <div class="col-md-6 position-relative">
        <select class="form-select" name="continent" required>
          <option hidden>Please Select Continent</option>
          <option value="australia">Australia</option>
          <option value="europe">Europe</option>
          <option value="antarctica">Antarctica</option>
          <option value="south america">South America</option>
          <option value="north america">North America</option>
          <option value="african">African</option>
          <option value="asia">Asia</option>
        </select>
      </div>
      <div class="col-md-6 position-relative">
        <select class="form-select" name="level" required>
          <option hidden>Please Select Test Level</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
          <option value="extreme">Extreme</option>
        </select>
      </div>
      <div class="col-md-6 position-relative " style="display: flex;align-items: end;">
        <input
          maxlength="200"
          name="gameDetail"
          placeholder="Please Enter Game Detail"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-6" style="margin-top: 20px">
        <label for="validationTooltip03" class="form-label">Region Image</label>
        <div class="add-quiz-state-image">
          <input
            class="add-quiz-image-input formFile form-control"
            type="file"
            name="regionImg" 
            required
          />
        </div>
      </div>
    </div>
    <hr />
    <div id="setNewForm">
      <div class="form-data">
        <div class="row">
          <div class="col-md-6 position-relative"> 
            <label for="flagName0" class="form-label">Select Counrty</label>
            <select class="form-select" name="flagName" id="flagName0" required> 
                <option hidden>Please Select Counrty</option> 
            </select> 
            <div class="invalid-tooltip">
                Please provide a Country Name.
            </div>
          </div>
          <div class="col-md-6 position-relative">
            <label for="hint" class="form-label">Enter Flag Hint</label>
            <input
              maxlength="200"
              name="hint" 
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6" style="margin-top: 20px">
            <label for="validationTooltip03" class="form-label"
              >Flag Image</label
            >
            <div class="add-quiz-state-image">
              <input
                class="add-quiz-image-input formFile form-control"
                type="file"
                name="flagImg" 
                required
              />
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-12 mt-2">
      <button
        class="btn"
        style="background-color: #a8171a; color: white"
        type="submit"
      >
        Submit
      </button>
      <button
        style="
          float: right;
          border-radius: 50%;
          background-color: #a8171a;
          color: white;
        "
        class="show-form btn"
        type="button"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </form>

  <!-- Add Multiple Questions -->
  <div style="display: none">
    <div id="addNewForm" class="form-data">
      <div class="row">
        <div class="col-md-6 position-relative"> 
          <label for="flagName0" class="form-label">Select Counrty</label>
          <select class="form-select" name="flagName" id="flagName" required> 
              <option hidden>Please Select Counrty</option> 
          </select> 
          <div class="invalid-tooltip">
              Please provide a Country Name.
          </div>
        </div>
        <div class="col-md-6 position-relative">
          <label for="flagName0" class="form-label">Enter Flag Hint</label>
          <input
            maxlength="200"
            name="hint" 
            type="text"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-6" style="margin-top: 20px">
          <label for="validationTooltip03" class="form-label"
            >Flag Image</label
          >
          <div class="add-quiz-state-image">
            <input
              class="add-quiz-image-input formFile form-control"
              type="file"
              name="flagImg"
              onchange="preview()"
              required
            />
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<!--Container Main end-->
<script src="/admin/js/multiQuestionFlagDetective.js"></script>
