<% layout('Admin/layouts/boilerPlate') -%>


<!--Container Main start-->
 <div class="application bg-light">
    <h4>Add Quiz</h4>
    <form class="add-quiz-form row needs-validation mb-20" action="/add-quiz" method="POST" novalidate>
      <div class="col-md-12 position-relative">
        <label for="validationTooltip03" class="form-label">Quiz Name</label>
        <input name="quizName" placeholder="Please Enter Quiz Name" type="text" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a Name.
        </div>
      </div>
      <div class="row quiz-detail ">
        <div class="col-md-6 position-relative" >
          <label for="validationTooltip03" class="form-label">Country</label>
          <select class="form-select" id="countryID" name="country">
            <!-- <option hidden >Please Select Country</option>  -->
            <option selected value="united states">United States</option> 
          </select>
          </div>
           <div class="col-md-6 position-relative" >
            <label for="validationTooltip03" class="form-label">States</label>
            <select class="form-select" id="stateID" name="stateName">
              <option hidden >Please Select State</option>  
              <option value="washington">Washington</option>
              <option value="minnesota">Minnesota</option>
              <option value="Hawaii">Hawaii</option>
              <option value="texas">Texas</option>
              <option value="massachusetts">Massachusetts</option>
              <option value="colorado">Colorado</option>
              <option value="florida">Florida</option>
              <option value="alaska">Alaska</option>
              <option value="montana">Montana</option>
              <option value="arizona">Arizona</option>
            </select>
            </div>
            <div class="col-md-6 " style="margin-top: 20px;"> 
            <label for="validationTooltip03" class="form-label">State Image</label>
            <div class="add-quiz-state-image">
              <input style="width: 100%;" class="add-quiz-image-input form-control" type="file" id="formFile" onchange="preview()">
              <button onclick="clearImage()"  style="width: 40px;" class="btn btn-primary" type="button" ><i class="fa-solid fa-xmark"></i></button>
            </div>

          </div>
      
      <div class="col-md-6 position-relative" style="margin-top: 20px;">
      <label for="validationTooltip03" class="form-label">Category</label>
      <select class="form-select" name="category">
        <option hidden >Please Select Category</option>
        <option value="drivering-quiz">Drivering Quiz</option>
        <option value="flag-game">Flag Game</option>
        <option value="others">Others</option>
      </select>
      </div>
      <div class="col-md-6 position-relative" style="margin-top: 20px;">
        <label for="validationTooltip03" class="form-label">Quiz Detail</label>
        <input name="quizDetail" placeholder="Please Enter Quiz Detail" type="text" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a Detail.
        </div>
      </div>
      </div>

    <!-- </form> -->
    <hr>
    <!-- <form class="add-quiz-form row g-4 needs-validation" novalidate action="/add-quiz" method="POST"> -->
      <div id="setNewForm">
        <div class="form-data">
          <div class="add-quiz-image">
            <input class="add-quiz-image-input form-control" type="file" id="formFile" onchange="preview()">
            <button onclick="clearImage()" class="btn btn-primary" type="button" ><i class="fa-solid fa-xmark"></i></button>
          </div>
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Question</label>
            <input name="questions[question]" placeholder="Please Enter Question" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Question.
            </div>
          </div>
          <div class="row">
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option A</label>
            <input name="questions[optionA]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option B</label>
            <input name="questions[optionB]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option C</label>
            <input name="questions[optionC]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option D</label>
            <input name="questions[optionD]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div>
          </div> 
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Answer</label>
            <input name="questions[correct]" placeholder="Please Enter Answer" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Answer.
            </div>
          </div>
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Hint</label>
            <input name="questions[hint]" placeholder="Please Enter Hint" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Hint.
            </div>
          </div>
          <hr>
          </div>
          </div>
        <div class="col-12 mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button style="float: right; border-radius: 50%;" class="show-form btn btn-primary" type="button"><i class="fa-solid fa-plus"></i></button>
        </div>
      </form>


      <div style="display: none;" >
        <div id="addNewForm" class="form-data">
          <div class="add-quiz-image">
            <input class="add-quiz-image-input form-control" type="file" id="formFile" onchange="preview()">
            <button onclick="clearImage()" class="btn btn-primary" type="button" ><i class="fa-solid fa-xmark"></i></button>
          </div>
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Question</label>
            <input name="questions[question]" placeholder="Please Enter Question" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Question.
            </div>
          </div>
          <div class="row">
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option A</label>
            <input name="questions[optionA]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option B</label>
            <input name="questions[optionB]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option C</label>
            <input name="questions[optionC]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div> 
          <div class="col-md-3 position-relative">
            <label for="validationTooltip03" class="form-label">Option D</label>
            <input name="questions[optionD]" placeholder="Please Enter Option" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Option.
            </div>
          </div>
          </div> 
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Answer</label>
            <input name="questions[correct]" placeholder="Please Enter Answer" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Answer.
            </div>
          </div>
          <div class="col-md-12 position-relative">
            <label for="validationTooltip03" class="form-label">Hint</label>
            <input name="questions[hint]" placeholder="Please Enter Hint" type="text" class="form-control" id="validationTooltip03" required>
            <div class="invalid-tooltip">
              Please provide a Hint.
            </div>
          </div>
          <hr>
          </div>
          </div>
      </div> 
</div>
<!--Container Main end-->   
<script src="/admin/js/addQuiz.js" ></script>
