<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <h3>Manage Quiz</h3>
  <div class="cards row">
    <% data.forEach(single => { %> 
    <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/<%=single._id%>/all-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div class="card-title text-xs font-weight-bold text-uppercase mb-1">
                <li><%=single.country%> </li> 
                <li> <%=single.stateName%></li>
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating"><%=single.questions.length%></div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <%})%>
    <!-- <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/manage-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div
                class="card-title text-xs font-weight-bold text-uppercase mb-1"
              >
                New Users
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating">92,680</div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/manage-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div
                class="card-title text-xs font-weight-bold text-uppercase mb-1"
              >
                New Users
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating">92,680</div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/manage-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div
                class="card-title text-xs font-weight-bold text-uppercase mb-1"
              >
                New Users
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating">92,680</div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/manage-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div
                class="card-title text-xs font-weight-bold text-uppercase mb-1"
              >
                New Users
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating">92,680</div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
      <div
        class="card dashboard-card border-bottom-success shadow h-100 py-2"
        onclick="location='/manage-quiz'"
      >
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div
                class="card-title text-xs font-weight-bold text-uppercase mb-1"
              >
                New Users
                <i style="float: right" class="fa-solid fa-user-plus"></i>
              </div>
              <div class="h2 mb-0 dashboard-total-rating">92,680</div>
              <div class="dashboard-rating-arrow">
                <div class="dashboard-persentage-rating">+210K (16,20%)</div>
                <i class="fa-solid fa-arrow-trend-up"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<!--Container Main end-->
