<% layout('Client/layouts/boilerPlate') -%>

<!-- main-area -->
<main>
  <!-- search-popup -->
  <div
    class="modal fade bs-example-modal-lg search-bg popup1"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <div class="text-center">
          <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
            >× close</a
          >
        </div>
        <div class="row search-outer">
          <div class="col-md-11">
            <input type="text" placeholder="Search for products..." />
          </div>
          <div class="col-md-1 text-right">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- offcanvas-end -->
  <!-- search-popup -->
  <div
    class="modal fade bs-example-modal-lg search-bg popup1"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content search-popup">
        <div class="text-center">
          <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
            >× close</a
          >
        </div>
        <div class="row search-outer">
          <div class="col-md-11">
            <input type="text" placeholder="Search for products..." />
          </div>
          <div class="col-md-1 text-right">
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /search-popup -->
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(/client/img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>About Us</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      About
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->
  <!-- about-area -->
  <section
    id="about"
    class="about-area about-p spacing p-relative"
    style="
      background: url(/client/img/features/about-bg-aliments.png) no-repeat;
      background-position: center center;
    "
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
          <div
            class="s-about-img p-relative wow fadeInLeft animated"
            data-animation="fadeInLeft"
            data-delay=".4s"
          >
            <img src="/client/img/features/about_img.svg" alt="img" />
            <div class="about-text second-about">
              <div class="all-text">
                <h3>50</h3>
                <span
                  >years of <br />
                  experience</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div
            class="about-content s-about-content wow fadeInRight animated"
            data-animation="fadeInRight"
            data-delay=".4s"
          >
            <div class="about-title second-atitle pb-25">
              <h5>About</h5>
              <h2>Welcome To Testpod.</h2>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>

            <div class="about-content3">
              <div class="row">
                <div class="col-md-12">
                  <ul class="green">
                    <li>
                      Nulla pellentesque posuere metus, sed hendrerit purus
                      venenatis in. Sed at vestibulum magna.
                    </li>
                    <li>
                      Etiam quis lacinia ipsum. Aliquam blandit, mauris nec
                      molestie interdum, quam massa finibus turpis, ut eleifend
                      tellus massa eget nunc.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="slider-btn mt-10">
              <a
                href="/about"
                class="btn ss-btn"
                data-animation="fadeInRight"
                data-delay=".8s"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-area-end -->

  <!-- mission-area-start -->

  <section
    id="about"
    class="about-area about-p spacing p-relative"
    style="
      background: url(/client/img/features/about-bg-aliments.png) no-repeat;
      background-position: center center;
    "
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div
            class="about-content s-about-content wow fadeInRight animated"
            data-animation="fadeInRight"
            data-delay=".4s"
          >
            <div class="about-title second-atitle pb-25">
              <h5>Mission</h5>
              <h2>Safe and Independent Driving</h2>
            </div>

            <p style="line-height: 28px">
              Do you struggle to pass your DMV written test? Fear not! Our
              mission is to help you ace it on your first try. DMV Practice Test
              provides free practice drivers tests modeled on the real thing for
              all 50 states, including regular non-commercial licenses, CDLs,
              and motorcycle licenses. No hidden fees, tricks, or credit card
              information required. Boost your confidence and prepare for the
              actual exam with our practice tests. Let us help you pass with
              flying colors and make the DMV written test a piece of cake. Say
              goodbye to stress and anxiety and hello to success!
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
          <div
            class="s-about-img p-relative wow fadeInLeft animated"
            data-animation="fadeInLeft"
            data-delay=".4s"
          >
            <img src="/client/img/bg/mission-variation-02.svg" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- mission-area-end -->

  <!-- FAQ-area-start -->

  <section
    id="about"
    class="about-area about-p spacing p-relative"
    style="
      background: url(/client/img/features/about-bg-aliments.png) no-repeat;
      background-position: center center;
    "
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div
            class="about-content s-about-content wow fadeInRight animated"
            data-animation="fadeInRight"
            data-delay=".4s"
          >
            <div class="about-title second-atitle">
              <h5>FAQ</h5>
              <h2>Frequently Asked Questions</h2>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Lorem ipsum dolor sit amet
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>Lorem ipsum dolor sit amet</strong>Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                    Lorem ipsum dolor sit amet
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>Lorem ipsum dolor sit amet</strong>Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                    Lorem ipsum dolor sit amet
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>Lorem ipsum dolor sit amet</strong>Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p style="line-height: 28px"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ-area end -->

  <!-- Vision-area-start -->

  <section
    id="about"
    class="about-area about-p spacing p-relative"
    style="
      background: url(/client/img/features/about-bg-aliments.png) no-repeat;
      background-position: center center;
    "
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
          <div
            class="s-about-img p-relative wow fadeInLeft animated"
            data-animation="fadeInLeft"
            data-delay=".4s"
          >
            <img src="/client/img/bg/OurVision.svg" alt="img" />
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div
            class="about-content s-about-content wow fadeInRight animated"
            data-animation="fadeInRight"
            data-delay=".4s"
          >
            <div class="about-title second-atitle">
              <h5>Vision</h5>
              <h2>Free DMV Practice Tests for Success</h2>
            </div>

            <p>
              The Department of Motor Vehicles (DMV) has the responsibility to
              enhance highway safety by increasing driver competency. Along with
              this responsibility, the DMV wants to keep all drivers licensed
              for as long as it is safe for them to continue operating a motor
              vehicle.
            </p>
            <p>
              The DMV recognizes that the independence and mobility provided by
              the driving privilege is an important factor in the quality of
              life for most Californians. The good news is that impaired vision
              will not usually prevent you from obtaining a driver license if
              you can show that you are able to drive safely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vision-area-end -->

  <!-- vedio-area -->
  <section
    id="vedio"
    class="vedio-area pt-90 spacing fix"
    style="
      background-image: url(/client/img/video/vedio-bg.png);
      background-repeat: no-repeat;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title center-align text-center">
            <h5>Watch Us</h5>
            <h2>Start Growing With Community</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div
            class="video-img wow fadeInRight animated"
            data-animation="fadeInDown animated"
            data-delay=".2s"
            style="
              background-image: url(/client/img/video/vedio-img.png);
              background-repeat: no-repeat;
              background-position: center;
            "
          >
            <a
              href="#"
              class="video-i popup-video"
            >
              <img
                src="/client/img/video/play.svg"
                alt="img"
                class="active-icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- vedio-area-end -->
  <!-- testimonial-area -->
  <section
    class="testimonial-area pt-90 pb-90 spacing"
    style="
      background-image: url(/client/img/testimonial/test-bg-aliments.png);
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff7f5;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-title second-atitle pt-15">
            <h5>Testimonial</h5>
            <h2>What our users are saying</h2>
            <p class="pt-15">
              dev.testpod.com has become a popular platform for over 130,000
              aspiring American users who use it daily to test and develop their
              skills in coding, data analysis, and digital marketing. The
              platform offers a user-friendly interface, personalized learning
              paths, real-time feedback, and detailed analytics, making it an
              indispensable tool for those who want to excel in their respective
              fields.
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="testimonial-active">
            <swiper-container
              pagination-clickable="true"
              class="mySwiper"
              pagination="true"
              slides-per-view="1"
              free-mode="true"
            >
              <swiper-slide>
                <div class="single-testimonial">
                  <div class="testi-author">
                    <img
                      style="width: 100px; border-radius: 50%"
                      src="/client/DALL·E 2023-03-07 16.19.23 - create avatar cute girl .png"
                      alt="img"
                    />
                    <div class="ta-info">
                      <h6>Ted Kay</h6>
                      <span>Student</span>
                    </div>
                  </div>
                  <div class="qt-img">
                    <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                  </div>
                  <p>
                    This site definitely works. I practiced their questions for
                    24 hours. Went through each practice test then jumped into a
                    bus to Santa Monica, California DMV. I passed the drivers
                    test the first time; while the majority walked out with
                    their faces down.
                  </p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="single-testimonial">
                  <div class="testi-author">
                    <img
                      style="width: 100px; border-radius: 50%"
                      src="/client/DALL·E 2023-03-07 16.59.30 - create avatar cute girl .png"
                      alt="img"
                    />
                    <div class="ta-info">
                      <h6>Stacey Finegan Whittle</h6>
                      <span>Student</span>
                    </div>
                  </div>
                  <div class="qt-img">
                    <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                  </div>
                  <p>
                    I failed the DMV written test the first time I tried, but
                    after studying the tests on this AWESOME site, I passed it
                    with only 3 questions wrong, on my 22nd birthday. This tool
                    ROCKED. Thanks so much!
                  </p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="single-testimonial">
                  <div class="testi-author">
                    <img
                      style="width: 100px; border-radius: 50%"
                      src="/client/DALL·E 2023-03-07 16.19.23 - create avatar cute girl .png"
                      alt="img"
                    />
                    <div class="ta-info">
                      <h6>Elizabeth Heaney</h6>
                      <span>Student</span>
                    </div>
                  </div>
                  <div class="qt-img">
                    <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                  </div>
                  <p>
                    I took the test today and passed, I literally knew every
                    single question on that test, I looked around thinking to
                    myself, Are they serious?! lol, If you want to pass, these
                    practice tests will help for sure!
                  </p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-area-end -->
</main>
<!-- main-area-end -->

<script src="/client/js/about.js"></script>
