<% layout('Client/layouts/boilerPlate') -%>

<div
  class="modal fade bs-example-modal-lg search-bg popup1"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content search-popup">
      <div class="text-center">
        <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
          >× close</a
        >
      </div>
      <div class="row search-outer">
        <div class="col-md-11">
          <input type="text" placeholder="Search for products..." />
        </div>
        <div class="col-md-1 text-right">
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- offcanvas-end -->
<!-- search-popup -->
<div
  class="modal fade bs-example-modal-lg search-bg popup1"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content search-popup">
      <div class="text-center">
        <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
          >× close</a
        >
      </div>
      <div class="row search-outer">
        <div class="col-md-11">
          <input type="text" placeholder="Search for products..." />
        </div>
        <div class="col-md-1 text-right">
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /search-popup -->
<!-- breadcrumb-area -->
<section
  class="breadcrumb-area d-flex align-items-center"
  style="background-image: url(/client/img/testimonial/test-bg.png)"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="breadcrumb-wrap text-left">
          <div class="breadcrumb-title">
            <h2>Draw Flags</h2>
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Draw Flags
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="all-quiz">
  <div class="all-quiz-upper-section">
    <div class="all-quiz-upper-section-header">
      <h6>New jersey Flags Examination</h6>
      <h6>DMV Permit Test #1</h6>
    </div>
    <div class="all-quiz-upper-section-inner">
      <div class="all-quiz-upper-section-part-left">
        <h4>FREE New Jersey DMV Practical Test</h4>
        <p>
          Anyone operating a motor vehicle or motor-driven bike on New Jersey's
          public streets or highways must have a valid driver's licence or
          learner's permit. New Jersey's DMV practise examinations include
          questions based on the New Jersey Driver Handbook's most essential
          traffic signals and..
        </p>
      </div>
      <div class="all-quiz-upper-section-part-right">
        <div class="all-quiz-upper-section-scorus-card">
          <p>Question</p>
          <h5 class="draw-total-questions">05</h5>
        </div>
        <div class="all-quiz-upper-section-scorus-card">
          <p>Correct</p>
          <h5 class="draw-total-correct">--</h5>
        </div>
        <div class="all-quiz-upper-section-scorus-card">
          <p>In-Correct</p>
          <h5 class="draw-total-in-correct">--</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="all-quizzes">
    <div class="all-quiz-left-part">
      <div id="arrowsRow" class="row align-items-center" style="width: 100%">
        <div class="col-md-12">
          <div class="fat-arrow-rappa">
            <div
              class="fat-arrow emptyArrow start buzzAnimation3Empty buzzAnimationBefore3Empty"
              id="emptyArrow1"
            >
              <div class="inner"></div>
            </div>

            <div
              class="fat-arrow buzzAnimation3 buzzAnimationBefore3"
              id="step1"
            >
              <div class="inner" id="txtpickShape">Pick Flag shape</div>
            </div>

            <div
              class="fat-arrow emptyArrow inactiveEmptyArrow"
              id="emptyArrow2"
            >
              <div class="inner"></div>
            </div>

            <div class="fat-arrow inactiveArrow" id="step2">
              <div class="inner" id="txtSelectColor">Select Color</div>
            </div>

            <div
              class="fat-arrow emptyArrow inactiveEmptyArrow"
              id="emptyArrow3"
            >
              <div class="inner"></div>
            </div>

            <div class="fat-arrow inactiveArrow" id="step3">
              <div class="inner">Paint Flag</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left: 0px;">
        <div class="text-center que_heading slide-right"></div>

        <div class="col-md-2 arrangement_wrapper" id="arrangementWrapper">
          
        </div>

        <div class="col-md-10" id="canvasWrapper">
          <div
            id="flagCanvas"
            class="flag_canvas"
            shape="false"
            paintSarted="false"
            style="
              width: 100%;
              height: 300px;
              background: url(images/flag.canvas.image.jpg) 0% 0% / 5px 5px
              #cccccc;
              transition: all 1s ease-in-out;
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            "
          ></div>

          <div id="ansCompleted" class="circle-checkMark flag-complete d-none">
            <div id="drawCheck" class="checkmark draw d-none"></div>
          </div>
        </div>
      </div>
      <div class="paint-game-color">
        <ul class="nav color_palette"></ul>
      </div>
      <button class="btn ss-btn btn_I_dont_know" type="button">
        I don't know
      </button>
      <div class="result_box d-none">
        <canvas
          id="DrawMyChart"
          style="
            width: 100%;
            display: block;
            border: 2px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #ccc;
            padding: 15px;
          "
        ></canvas>
      </div>
    </div>
    <div class="all-quiz-right-part">
      <div class="all-quiz-progress">
        <div class="draw-falgs-progress-card">
          <div class="score_board">
            <!-- <div class="score_board_inner">
              <div class="user_score">
                <span class="obtained_marks">0</span
                ><span
                  class="outOf"
                  style="font-weight: 600; font-size: 30px; color: #cccccc"
                ></span>
              </div>
            </div> -->
          </div>
          <div class="timer">
            <div class="timer__background">
              <div class="timer__display">
                <div class="display minute"></div>

                <span class="display colon">:</span>

                <div class="display seconds"></div>
              </div>
                <circle class="st0" cx="260.59" cy="260.59" r="253.09" />
            </div>
          </div>
        </div>
        <h5>Your Progress</h5>
        <div class="your-quiz-progress-detail">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/client/js/draw-flag.js"></script>
<script src="/client/js/about.js"></script>

