<% layout('Client/layouts/boilerPlate') -%>

<!-- main-area -->
 <main>
            
    <!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
            </div>
            <div class="row search-outer">
                <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
    <!-- breadcrumb-area -->
     <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/client/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Services</h2>    
                            <div class="breadcrumb-wrap">
                      
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
     <!-- services-area -->          
    <section id="services" class="services-area pt-120 pb-120 fix" style=" background-image: url(/client/img/bg/services-bg-aliments.png); background-repeat: no-repeat; background-position: center;" >
        <div class="container">
           
           <div class="row align-items-center">
                 <div class="col-lg-12 col-md-12">
                 <div class="about-title text-center second-atitle pb-20">            
                            <h5>Services</h5>                
                            <h2>
                                What We Provide To You
                            </h2>   
                          
                        </div>
                     
                  
                </div>
          
                <div class="row">
                    <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon1.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Skilled Lecturers</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>    
                     <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon2.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Hot Stone Message</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>    
                     <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon3.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Book Library</a> </h5>   
                             <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>    
                      <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon4.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Online Classes</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>    
                      <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon5.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Home Projects</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>  
                     <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon4.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Online Classes</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div> 
                     <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon2.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">Hot Stone Message</a> </h5>   
                            <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>  
                       <div class="col-lg-3 col-md-6 mt-20">
                         <div class="services-box wow fadeInDown  animated"  data-delay=".5s">
                      <div class="services-icon">
                           <img src="/client/img/icon/pv-icon6.png" alt="icon01">
                        </div>
                       <div class="services-content2">
                            <h5><a href="/services-details">24x7 Support</a> </h5>   
                             <p>Cras ornare sagittis tortor a facilisis nteger augue quam, placerat.</p>
                        </div>
                    </div> 
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->
    
  <!-- testimonial-area -->
    <section class="testimonial-area pt-120 pb-120" style=" background-image: url(/client/img/testimonial/test-bg-aliments.png); background-repeat: no-repeat; background-position: center; background-color: #fff7f5;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                  <div class="about-title second-atitle pt-15">            
                            <h5>Testimonial</h5>                
                            <h2>
                               See What Our <br>Client Say’s
                            </h2>   
                            <p class="pt-15">Curabitur tristique, sem id sagittis varius, lacus ligula mollis dui, ac condimentum felis metus ut nulla. Aenean ut ultricies turpis, sed sollicitudin eros. Aliquam quis dui ut diam lobortis dignissim ut aliquet ex.</p>
                        </div>
                   
                </div>
                
                <div class="col-lg-6">
                    <div class="testimonial-active">
                      <swiper-container pagination-clickable="true" class="mySwiper" pagination="true"  slides-per-view="1"  free-mode="true">
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                      </swiper-slide>
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                        </swiper-slide>
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                        </swiper-slide>
                      </swiper-container>
                        
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
   
    
<!-- pricing-area -->
    <section id="pricing" class="pricing-area pt-120 pb-90">
        <div class="container">  
             <div class="row">   
                <div class="col-lg-12">
                    <div class="section-title center-align text-center mb-50">
                        <h5>Pricing</h5>
                        <h2>
                         Our Plan
                        </h2>
                    </div>
                   
                </div>
                 
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-box text-center mb-60 ">
                        <div class="pricing-head">             
                            <div class="glyph-icon flaticon-pie-chart"></div>
                            <h4>Basic Plan</h4>                                    
                        </div>
                        <div class="pricing-body mb-30 text-center">
                            <p>Morbi sollicitudin eros urna, eu posuere est pulvinar nec.</p>
                            <p>Sed pharetra ligula et tempus tincidunt.</p>
                            <p>Proin sed rhoncus neque.</p>
                        </div>                      
                            <div class="price-count mb-30">
                                <h2>$49 <span>/ Monthly</span></h2>
                            </div>                        
                        <div class="pricing-btn">
                           <a href="#" class="btn">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-box active text-center mb-60 ">
                        <div class="pricing-head">         
                            <div class="glyph-icon flaticon-graphic"></div>
                            <h4>Standard Plan</h4>                                    
                        </div>
                         <div class="pricing-body mb-30 text-center">
                            <p>Morbi sollicitudin eros urna, eu posuere est pulvinar nec.</p>
                            <p>Sed pharetra ligula et tempus tincidunt.</p>
                            <p>Proin sed rhoncus neque.</p>
                            
                        </div>
                        <div class="price-count mb-30">
                                <h2>$99 <span>/ Monthly</span></h2>
                            </div>
                        <div class="pricing-btn">
                            <a href="#" class="btn">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-box text-center mb-60 ">
                        <div class="pricing-head">     
                            <div class="glyph-icon flaticon-research"></div>
                            <h4>Premium Plan</h4>                                    
                        </div>
                        <div class="pricing-body mb-30 text-center">
                            <p>Morbi sollicitudin eros urna, eu posuere est pulvinar nec.</p>
                            <p>Sed pharetra ligula et tempus tincidunt.</p>
                            <p>Proin sed rhoncus neque.</p>
                        </div>
                        <div class="price-count mb-30">
                                <h2>$149 <span>/ Monthly</span></h2>
                            </div>
                        <div class="pricing-btn">
                            <a href="#" class="btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-area-end -->
    
    
 
</main>
<!-- main-area-end -->

<script src="/client/js/about.js"></script>