<% layout('Client/layouts/boilerPlate') -%> 
 
 <!-- main-area -->
 <main>
            
    <!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
            </div>
            <div class="row search-outer">
                <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
    <!-- breadcrumb-area -->
     <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/client/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Shop Details</h2>    
                            <div class="breadcrumb-wrap">
                      
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                            </ol>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    
    <!-- shop-banner-area start -->
<section class="shop-banner-area pt-120 pb-90 " data-animation="fadeInUp animated" data-delay=".2s">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="shop-thumb-tab mb-30">
                    <ul class="nav" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-selected="true"><img src="/client/img/shop/details/thumb1.jpg" alt=""> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-selected="false"><img src="/client/img/shop/details/thumb2.jpg" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile1" role="tab"
                                aria-selected="false"><img src="/client/img/shop/details/thumb3.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="product-details-img mb-30">
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade show active" id="home" role="tabpanel">
                            <div class="product-large-img">
                                <img src="/client/img/shop/details/large1.jpg" alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel">
                            <div class="product-large-img">
                                <img src="/client/img/shop/details/large2.jpg" alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile1" role="tabpanel">
                            <div class="product-large-img">
                                <img src="/client/img/shop/details/large3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="product-details mb-30">
                    <div class="product-details-title">
                        <p>Workstead</p>
                        <h1>Helios Piranho Lamp</h1>
                        <div class="price details-price pb-30 mb-20">
                            <span>$700.00</span>
                            <span class="old-price">$820.00</span>
                        </div>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its
                        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                        letters, as opposed to
                        using 'Content here, content here', making it look like readable English.</p>
                    <div class="product-cat mt-30 mb-30">
                        <span>Category: </span>
                        <a href="#">furniture,</a>
                        <a href="#">decor</a>
                    </div>                            
                    <div class="product-details-action">
                        <form action="#">
                            <div class="plus-minus">
                                <div class="cart-plus-minus"><input type="text" value="1" /></div>
                            </div>
                            <button class="btn btn-black" type="submit">add to cart</button>                                   
                        </form>
                    </div>
                    <div class="product-social mt-45">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-banner-area end -->
<!-- product-desc-area start -->
<section class="product-desc-area pb-55">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bakix-details-tab">
                    <ul class="nav text-center justify-content-center pb-30 mb-50" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#id-desc" role="tab"
                                aria-controls="home" aria-selected="true">Description </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="id-add-in" data-toggle="tab" href="#id-add" role="tab"
                                aria-controls="profile" aria-selected="false">Additional Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="id-r" data-toggle="tab" href="#id-rev" role="tab"
                                aria-controls="profile" aria-selected="false">Reviews(10)</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="id-desc" role="tabpanel" aria-labelledby="desc-tab">
                        <div class="event-text mb-40">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint
                                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                id est laborum. Sed ut perspiciatis
                                unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab
                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                eos qui ratione voluptatem sequi
                                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia non
                                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                voluptatem.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum. Sed ut
                                perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque
                                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                sunt explicabo. Nemo enim ipsam voluptatem
                                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                dolores eos qui ratione voluptatem sequi
                                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit, sed quia non
                                numquam eius modi tempora.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="id-add" role="tabpanel" aria-labelledby="id-add-in">
                        <div class="additional-info">
                            <div class="table-responsive">
                                <h4>Additional information</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Weight</th>
                                            <td class="product_weight">1.4 oz</td>
                                        </tr>
                                        <tr>
                                            <th>Dimensions</th>
                                            <td class="product_dimensions">62 × 56 × 12 in</td>
                                        </tr>
                                        <tr>
                                            <th>Size</th>
                                            <td class="product_dimensions">XL, XXL, LG, SM, MD</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="id-rev" role="tabpanel" aria-labelledby="id-r">
                        <div class="additional-info">
                            <div class="event-text mb-40">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                    id est laborum. Sed ut perspiciatis
                                    unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam, eaque ipsa quae ab
                                    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                    eos qui ratione voluptatem sequi
                                    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                    voluptatem.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                    sunt explicabo. Nemo enim ipsam voluptatem
                                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                    dolores eos qui ratione voluptatem sequi
                                    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 
</main>
<!-- main-area-end -->

<script src="/client/js/about.js"></script>