<% layout('Client/layouts/boilerPlate') -%>

<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(/client/img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>States</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li> 
                    <li class="breadcrumb-item active" aria-current="page">
                        States
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </section>
</main>

<section
  id="about"
  class="about-area about-p pt-120 pb-120 p-relative"
  style="
    background: url(/client/img/features/about-bg-aliments.png) no-repeat;
    background-position: center center;
  ">
  <div class="quiz-citys">
    <h2 class="font-weight-bold mb-2">All States</h2>
    <p class="font-italic text-muted mb-4 text-center">
      
    </p>
    <div class="row quiz-card">
      <%data.forEach(value => {%> 
      <a href="/test/states/<%=value%>" class="card quiz-card-item col-md-3" style="width: 18rem; padding: 0%">
        <img src="https://a.cdn-hotels.com/gdcs/production49/d785/da360e83-6abc-4783-957f-72d1d64d0751.jpg?impolicy=fcrop&w=800&h=533&q=medium" class="card-img-top card-img" alt="..." />
        <div class="card-body">
          <h5 class="card-title quiz-card-title m-0 p-0 text-center"><%=value.toUpperCase()%></h5>
        </div>
      </a>
      <%})%>
    </div>
  </div>
</section>

<!-- 
<script>
  async function storeLog(id) {
      const counter = 1;
      const response = await fetch(`/track-quiz/${id}`, {
        method: 'POST',
        body: JSON.stringify({
          views:counter
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      }); 
      console.log(response);
    }
</script> -->

<script src="/client/js/about.js"></script>
