<!-- footer -->
<footer
class="footer-bg footer-p fix"
>
<div class="footer-center pt-70 pb-40">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="footer-widget mb-30 animate__animated wow animate__fadeInUp" data-wow-delay="0.2s">
          <div class="f-widget-title">
            <h2>About Us</h2>
          </div>
          <div class="footer-link">
            We are dedicated to providing engaging and educational content for individuals looking to improve their knowledge and skills. Our goal is to offer a fun and interactive learning experience through our DMV practice tests and flag game.
          </div>
          <div
          class="footer-widget footer-social mt-20 "
        >
          <a href="javascript:(0)"><i class="fab fa-facebook-f"></i></a>
          <a href="javascript:(0)"><i class="fab fa-instagram"></i></a>
          <a href="javascript:(0)"><i class="fab fa-twitter"></i></a>
        </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="footer-widget mb-30 animate__animated wow animate__fadeInUp" data-wow-delay="0.4s">
          <div class="f-widget-title">
            <h2>Contact Us</h2>
          </div>
          <div class="f-contact">
            <ul>
              <li>
                <i class="icon fa-sharp fa-solid fa-location-dot"></i>
                <span
                  >Lorem ipsum, <br />Lorem ipsum,
                  Lorem ipsum</span
                >
              </li>
              <li>
                <i class="icon fa-solid fa-phone-flip"></i>
                <span>0000-000-0000<br />+00-0000-000-000</span>
              </li>
              <li>
                <i class="icon fa-regular fa-envelope"></i>
                <span>
                  <a href="mailto:info@example.com">Loremipsum@.com</a>
                  <br />
                  <a href="mailto:help@example.com">Loremipsum@.com</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6">
        <div class="footer-widget mb-30 animate__animated wow animate__fadeInUp" data-wow-delay="0.5s">
          <div class="f-widget-title">
            <h2>Our Services</h2>
          </div>
          <div class="footer-link">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#"> About Us</a></li>
              <!-- <li><a href="#"> Services </a></li> -->
              <li><a href="#"> Contact Us</a></li>
              <li><a href="#">GAMIFICATION</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright-wrap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 copy_right_testpod">
        Copyright &copy; 2023 Testpod. All rights reserved.
      </div>
      <div class="footer-privercy col-lg-6 text-right text-xl-right">
        <ul>
          <li><a href="javascript:(0)">Privercy</a></li>
          <li><a href="javascript:(0)">Term & Conditions</a></li>
          <li><a href="javascript:(0)">Legal</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</footer>
<!-- footer-end -->


<script src="/client/js/footer.js" ></script>