<div class="flag-detective-game-header">
    <span class="header-image">
      <a href="/"></a><img
        style="cursor: pointer"
        src="/client/img/logo/logo1.svg"
        width="100%"
        height="100%"
        alt=""
      />
    </a>
    </span>
    <div class="col-xl-8 col-lg-8">
      <div id="mobile-main-menu" class="main-menu text-right text-xl-right">
        <nav id="mobile-menu" style="display: block">
          <ul>
            <li class="sub">
              <a href="/">Home</a>
            </li>
            <li class="sub"><a href="/about-us">About Us</a></li>
            <li class="sub">
              <a href="javascript:(0)">Flags Game</a>
              <ul>
                <li><a href="/guess-country/regions">Guess Country</a></li>
                <li><a href="/draw-flags">Draw Flags</a></li>
                <li><a href="/guess-flag/regions">Guess Flags</a></li>
                <li><a href="/flag-detective/regions">Flags Detective</a></li>
                <li><a href="/flag-puzzle/regions">Flags Puzzle</a></li>
                <li><a href="/flag-quest/regions">Flag Quest Game</a></li>
                <li><a href="/learn-about-flags">Learn About Flags</a></li>
                
              </ul>
            </li>
            <li class="sub">
              <a href="javascript:(0)">Practice Test</a>
              <ul>
                <li><a href="/dmv-test/states">DMV Test</a></li>
              </ul>
            </li>
            <li class="sub"><a href="/contact-us">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="search-top2">
      <ul>
        <li style="background-color: #a8171a; border-radius: 5px">
          <a href="javascript:(0)" class="menu-tigger"
            ><img src="/client/img/icon/menu.png" alt="logo"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- header end -->
  