<!-- header -->
<header class="header-area header-three pt-3 wow animate__fadeInDown" data-wow-duration=".9s">
  <div id="header-sticky" class="menu-area">
    <div class="container">
      <div class="second-menu">
        <div class="row global-header">
          <div class="col-xl-2 col-lg-2">
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <div class="logo">
                <a href="/"
                  ><img
                    src="https://testpod-bucket.s3.amazonaws.com/pages/logo1.svg"
                    alt="logo"
                /></a>
              </div>
              <div style="display: flex; align-items: end">
                <a id="menu" href="#"
                  ><img
                    src="https://testpod-bucket.s3.amazonaws.com/pages/menu1.svg"
                    alt="logo"
                /></a>
              </div>
            </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <div id="mobile-main-menu" class="main-menu text-right text-xl-right">
                <nav id="mobile-menu" style="display: block">
                  <ul style="display: flex;align-items: center;">
                    <li class="sub">
                      <a href="/">Home</a>
                    </li>
                    <li class="sub" ><a href="/about-us">About Us</a></li>
                    <li class="sub">
                      <a href="/games" >Flags Games</a>
                      <ul>
                        <li><a href="/guess-country/regions">Guess Country</a></li>
                        <li><a href="/draw-flags">Draw Flags</a></li>
                        <li><a href="/guess-flag/regions">Guess Flags</a></li>
                        <li><a href="/flag-detective/regions">Flags Detective</a></li>
                        <li><a href="/flag-puzzle/regions">Flags Puzzle</a></li>
                        <li><a href="/flag-quest/regions">Flag Quest Game</a></li>
                        <li><a href="/learn-about-flags">Learn About Flags</a></li>
                        
                      </ul>
                    </li>
                    <li class="sub">
                      <a href="javascript:(0)" >Practice Test</a>
                      <ul>
                        <li><a href="/dmv-test/states">DMV Test</a></li>
                      </ul>
                    </li>
                    <!-- <li class="sub">
                      <a href="/courses">Courses</a>
                      <ul>
                        <li><a href="/courses">Courses</a></li>
                        <li>
                          <a href="/courses-details">Courses Details</a>
                        </li>
                      </ul>
                    </li> -->

                  <!-- <li class="sub">
                      <a href="javascript:(0)">Pages</a>
                      <ul>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/faq">Faq</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/shop-details">Shop Details</a></li>
                      </ul>
                    </li> -->

                  <!-- <li class="sub">
                      <a href="javascript:(0)">News</a>
                      <ul>
                        <li><a href="/blog">News</a></li>
                        <li><a href="/blog-details">News Details</a></li>
                      </ul>
                    </li> -->

                  <li class="sub"><a href="/contact-us">Contact</a></li>
                  <li class="sub">
                    <a class="user-avatar" href="/login" ><img class="header_img" src="/admin/img/profile.avif" alt="" /><p style="margin: 0%;color:#A8171A;">Login</p></a>
                    <%if("helo" === "h"){ %>
                      <ul style="right: 0px;min-width: 150px !important;" >
                        <li><a href="/guess-country/regions">Profile</a></li>
                      <li><a href="/draw-flags">Achievement</a></li>
                      <li><a href="/guess-flag/regions">Settings</a></li>
                    </ul>
                    <% } %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- <div
            class="col-xl-2 col-lg-2 text-right d-none d-xl-block mt-30 mb-30"
          >
            <div class="search-top2">
              <ul>
                <li>
                  <a
                    href="javascript:(0)"
                    class="menu-tigger"
                    style="background-color: #a8171a; border-radius: 5px"
                    ><img
                      src="https://testpod-bucket.s3.amazonaws.com/pages/menu.png"
                      alt="logo"
                  /></a>
                </li>
              </ul>
            </div>
          </div> -->

          <div class="col-12">
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
