<!-- offcanvas-area -->
<div id="offcanvas-menu">
    <span id="menu-close" ><i class="fas fa-times"></i></span>
    <form
      role="search"
      method="get"
      id="searchform"
      class="searchform"
      action="http://wordpress.zcube.in/xconsulta/"
    >
      <input type="text" name="s" id="search" value="" placeholder="Search" />
      <button><i class="fa fa-search"></i></button>
    </form>

    <div id="cssmenu3" class="menu-one-page-menu-container">
      <ul id="menu-one-page-menu-2" class="menu">
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/">Home</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/about">About Us</a>
        </li>
        <li><a href="/guess-country">Guess Country</a></li>
        <li><a href="/draw-flags">Draw Flags</a></li>
        <li><a href="/guess-flags">Guess Flags</a></li>
        <li><a href="/test/states">DMV Test</a></li>
        <li><a href="/learn-about-flags">Learn About Flags</a></li>
        <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/services">Services</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/pricing">Pricing </a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/team">Team </a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/blog">Blog</a>
        </li> -->
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <div id="cssmenu2" class="menu-one-page-menu-container">
      <ul id="menu-one-page-menu-1" class="menu">
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="#home"><span>+0 00 000000</span></a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="#howitwork"><span>Loremipsum@.com</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="offcanvas-overly"></div>
  <!-- offcanvas-end -->