@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
a {
  text-decoration: none;
}

.pl-5{
  padding-left: 5px;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn-toggle{
  display: flex;
}


.btn-toggle[aria-expanded="true"]::after{
  transform: rotate(90deg);
}

.btn-toggle{
}

.btn-toggle::after{
  color: var(--first-color-light);
  width: 1.25em ;
  line-height: 0;
  content: url(../img/icons/arrow.svg);
  transition: 0.35s ease;
  transform-origin:0.5em 50%;
  margin-left: 10px;
  
}

.header-logo{
  width: 120px;
  transition: all 0.3s;
  margin-left: 15px;
}

.header-logo.active{
  width: 30px;
  margin-left: 20px;
  transition: all 0.3s;
}


.nav_list{
  margin-top: 20px;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: #707070;
  transition: 0.3s;
}
.nav_link:hover {
  color: black;
}
.nav_icon {
  font-size: 1.25rem;
}
.toggle-show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: black;
}

.active-nav::before{
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: black;
}

.active-nav{
  background-color: lightgray;
}
.collapse-option{
  padding: 5px;
  margin-top: 10px;
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: black;
}
.height-100 {
  height: 100vh;
}

.btn-toggle{
  display: flex;
}

.dashboard-total-rating{
  font-weight: 600;
  font-size: 2rem ;
}

.dashboard-persentage-rating{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #00DE73;
  padding-top: 10px;
}

.dashboard-rating-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboard.active{
  color: black
}
#user-management.active{
  color: black;
}

#web-analytics.active{
  color: black;
}#game-management.active{
  color: black;
}#quiz-management.active{
  color: black;
}#add-quiz.active{
  color: black;
}#manage-quiz.active{
  color: black;
}#result-management.active{
  color: black;
}#content-management.active{
  color: black;
}#blogs-management.active{
  color: black;
}#analytics.active{
  color: black;
}

.btn-toggle[aria-expanded="true"]::after{
  transform: rotate(90deg);
}

.btn-toggle{
}

.btn-toggle::after{
  color: var(--first-color-light);
  width: 1.25em ;
  line-height: 0;
  content: url(../img/icons/arrow.svg);
  transition: 0.35s ease;
  transform-origin:0.5em 50%;
  margin-left: 10px;
  
}

/* Login  */

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.signup-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.login-right-part{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.signup-right-part{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-form{
  margin-left: 100px;
  margin-right: 100px;
}
.login-text-1{
  font-size: 2rem;
  font-weight: 600;
  margin: 0px;
}

.login-text-2{
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.login-sign-text{
  font-size: 24px;
  font-weight: 600;
}

.sign-bottom{
  margin-left: 100px;
  margin-right: 100px;
}

.sign-in-bottom-text{
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}

.login-button{
  width: 100%;
  border-radius: 50px;
  background-color: #A8171A;
  color: #FFFFFF;
  border: none;
  padding: 10px;
}

.sign-in-bottom-button{
  width: 100%;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 1px solid #A8171A;
  padding: 10px;
}
.mobile-ligin-logo{
  display: none;
}

@media screen and (max-width:1000px) {
  .login-right-part{
    width: 100%;
  }
  .login-img{
    display: none;
  }
  .login-container{
    display: none;
  }
  .mobile-ligin-logo{
    display: contents;
  }
  .mobile-logo{
    width: 120px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .signup-container{
    display: none;
  }
  .signup-right-part{
    width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width:700px) {
  .login-right-part{
    width: 100%;
    gap: 20px;
  }
  .login-img{
    display: none;
  }
  .login-container{
    display: none;
  }
  .login-form{
    margin-left: 20px;
    margin-right: 20px;
  }
  .sign-bottom{
    margin-left: 20px;
    margin-right: 20px;
  }
  .mobile-logo{
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* Login End */

ul{
  margin: 0%;
}
li{
  list-style: none;
}

@media screen and (max-width:700px) {
  ul{
    padding: 0%;
  }
}


/* Manage Quiz */

.application {
  padding: 20px;
  overflow: auto;
}

.cards {
  margin-top: 20px;
}
.card-title{
    font-weight: 700;
}

.card-icon{
  opacity: 0.3;
}

.header-avatar{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header-title{
  margin: 0%;
}

.dashboard-card{
  transition: all 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.dashboard-card:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.scrollme {
  overflow-x: auto;
}


.border-bottom-primary {
  border-bottom: 0.25rem solid #4e73df !important;
}
.border-bottom-success {
  border-bottom: 0.25rem solid #f5595c !important;
}
.border-bottom-secondary {
  border-bottom: 0.25rem solid #858796 !important;
}
.border-bottom-danger {
    border-bottom: 0.25rem solid #e74a3b !important;
  }

  /* All Quiz */

  .table-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .table-hash-col{
    width: 5px;
  }

  .table-question-col-flag{
    width: 50px;
  }

  .table-question-col{
    width: 500px;
  }
  .table-option-col{
    width: 200px;
  }.table-answer-col{
    width: 200px;
  }.table-action-col{
    width: 200px;
    text-align: center;
  }



  /* All Quiz End */

  /* Add Quiz */

  /* selected  */


  select[data-multi-select-plugin] {
    display: none !important;
}

.multi-select-component {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 10px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    padding-bottom: 0px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.autocomplete-list {
    border-radius: 4px 0px 0px 4px;
}

.multi-select-component:focus-within {
    box-shadow: inset 0px 0px 0px 2px #78ABFE;
}

.multi-select-component .btn-group {
    display: none !important;
}

.multiselect-native-select .multiselect-container {
    width: 100%;
}

.selected-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    white-space: nowrap;
    margin: 1px 5px 5px 0;
    height: 22px;
    vertical-align: top;
    cursor: default;
}

.selected-wrapper .selected-label {
    max-width: 514px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    vertical-align: top;
}

.selected-wrapper .selected-close {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.49em;
    margin-left: 5px;
    padding-bottom: 10px;
    height: 100%;
    vertical-align: top;
    padding-right: 4px;
    opacity: 0.2;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    font-weight: 700;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search-container .selected-input {
    background: none;
    border: 0;
    height: 20px;
    width: 60px;
    padding: 0;
    margin-bottom: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-container .selected-input:focus {
    outline: none;
}

.dropdown-icon.active {
    transform: rotateX(180deg)
}

.search-container .dropdown-icon {
    display: inline-block;
    padding: 10px 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border: 0 !important;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}

.search-container ul {
    position: absolute;
    list-style: none;
    padding: 0;
    z-index: 3;
    margin-top: 29px;
    width: 100%;
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.search-container ul :focus {
    outline: none;
}

.search-container ul li {
    display: block;
    text-align: left;
    padding: 8px 29px 2px 12px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    min-height: 31px;
}

.search-container ul li:first-child {
    border-top: 1px solid #ccc;
    border-radius: 4px 0px 0 0;
}

.search-container ul li:last-child {
    border-radius: 4px 0px 0 0;
}


.search-container ul li:hover.not-cursor {
    cursor: default;
}

.search-container ul li:hover {
    color: #333;
    background-color: rgb(251, 242, 152);
    ;
    border-color: #adadad;
    cursor: pointer;
}

/* Adding scrool to select options */
.autocomplete-list {
    max-height: 130px;
    overflow-y: auto;
}

  /* selected */

  .add-quiz-form{
    display: flex;
    gap: 20px;
  }

  .form-data{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .edit-test{
    display: none;
  }

  .edit-test.active{
    display: contents;
  }
  .edit-test-btn{
    border: none;
  }
  .test-edit.active{
    display: none;
  }

  .manage-state-name{
    font-size: 12px;
    font-weight: 500;
  }

  .manage-edit-btn{
    font-size: 24px;
  }
  .manage-delete-btn{
    font-size: 24px;
    color: red;
  }

  .manage-action-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .test-name{
    display: contents;
  }

  .test-name.active{
    display: none;
  }
  .add-quiz-state-image{
    display: flex;
    height: fit-content;
  }

  .add-quiz-image{
    display: flex;
justify-content: end;
  }

  .add-quiz-image-input{
  }

  .quiz-detail{
    margin-bottom: 30px;
  }

  .dashboard-buttons-color{
    background-color:#A8171A;
    color: white;
  }

  .hint-images{
    background-color: #CCCCCC;
    padding: 20px;
  }




  /* Add Quiz End */

/* Manage Quiz End */

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width));
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 0.5rem 0 calc(var(--nav-width) + 1rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .header_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* overflow: scroll; */
  }
  .toggle-show {
    width: calc(var(--nav-width) + 200px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 200px);
  }
  .cross-button{
    display: none;
  }
}

@media screen and (max-width:768px) {
  .l-navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .toggle-show {
    width: calc(var(--nav-width) - 100px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .toggle-show {
    width: calc(var(--nav-width) + 0px);
  }

  .cross-button{
    display: contents;
  }
}
