<% layout('Client/layouts/boilerPlate') -%>

<section class="breadcrumb-area d-flex align-items-center" style="background-image: url(/client/img/testimonial/test-bg.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="breadcrumb-wrap text-left">
          <div class="breadcrumb-title">
            <h2>Flag Detective</h2>
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Asia
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Flag Detective
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="all-quiz">
  <div class="all-quiz-upper-section">
    <div class="all-quiz-upper-section-header">
      <h6>Asia Flags Examination</h6>
      <h6>Test #1</h6>
    </div>
    <div class="all-quiz-upper-section-inner">
      <div class="all-quiz-upper-section-part-left">
        <h4>Flag Detective</h4>
        <p class="guess-country">
          Playing a guessing game with flags can be a fun way to test your
          knowledge of countries around the world. Flags can represent a
          country's history, culture, and values, making them unique and
          identifiable. Some flags may be easy to recognize, such as the United
          States' flag with its distinctive stripes and stars, or the United
          Kingdom's flag with its Union Jack design.
        </p>
      </div>
    </div>
  </div>
  <div class="all-quizzes">
    <div class="all-quiz-left-part">
      <div class="questions-box">
        <div class="text-center que_heading slide-right">
          <h2 style="margin: 0%;">
            <span>What a Country it is </span>
          </h2>
        </div>
        <div class="detective-image"></div>
        <div class="siblings-input" ></div>
        <div style="display: flex;justify-content:space-evenly">
          <button class="btn ss-btn btn_I_dont_know" type="button">
            I don't know
          </button>
          <button class="btn btn-success submit d-none" type="button">
            Submit
          </button>
      </div>
      </div>
      <div class="result_box d-none">
        <canvas
          id="myChart"
          style="
            width: 100%;
            display: block;
            border: 2px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #ccc;
            padding: 15px;
          "
        ></canvas>
        <div style="display: flex;justify-content: space-between;margin-top: 20px;">
          <a href="/flag-detective-game" target="_self" ><button class="btn ss-btn"><i class="fa-solid fa-rotate-right" style="margin-right: 10px;"></i>ReTake</button></a>
          <button class="btn ss-btn" >Next Level</button>
        </div>
      </div>
    </div>
    <div class="all-quiz-right-part">
      <div class="all-quiz-progress">
         <div class="draw-falgs-progress-card">
          <div class="score_board">
          </div>
          <div class="timer">
            <div class="timer__background">
              <div class="timer__display">
                <div class="display minute"></div>
                <span class="display colon">:</span>
                <div class="display seconds"></div>
              </div>
              <span
              class="time_up d-none"
              style="font-size: 30px; font-weight: bold;color:#A8171A"
              >Completed</span>
                <circle class="st0" cx="260.59" cy="260.59" r="253.09" />
            </div>
          </div>
        </div>
        <h5>Your Progress</h5>
        <div class="all-quiz-upper-section-part-right">
          <div class="all-quiz-upper-section-scorus-card">
            <p>Question</p>
            <h5 class="detective-total-questions">05</h5>
          </div>
          <div class="all-quiz-upper-section-scorus-card">
            <p>Correct</p>
            <h5 class="detective-total-correct">--</h5>
          </div>
          <div class="all-quiz-upper-section-scorus-card">
            <p>In-Correct</p>
            <h5 class="detective-total-in-correct">--</h5>
          </div>
        </div>
        <h5 style="margin-top: 20px;margin-bottom: -3%;">Hint</h5>
        <div class="your-quiz-progress-detail">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/client/js/about.js"></script>
<script src="/client/js/flagDetective.js" defer></script>
