#app {
    /* border: 2px solid gray; */
    width: 100%;
    height: 100vh;
    position: relative;

  }


  #app canvas {
    position: relative;
    background: white;
    touch-action: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    height: fit-content;
    background-image: url(/client/img/bg/Artboard1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #controls {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:20px;
    position: absolute;
    z-index: 1;
    
  }
  select {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px 0 0;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  select option {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 18px;
  }
  button {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px 0 0;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 20px;
    background: #ebebeb;
    transition: background-color ease-in 0.3s;
  }
  button:hover {
    background: lightgreen;
    transition: background-color ease-out 0.3s;
  }
  