<% layout('Client/layouts/boilerPlate') -%>

<link href="/client/css/puzzle.css" rel="stylesheet" />

<section
  class="breadcrumb-area d-flex align-items-center"
  style="background-image: url(/client/img/testimonial/test-bg.png)"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="breadcrumb-wrap text-left">
          <div class="breadcrumb-title">
            <h2>Flags Puzzle</h2>
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Flags Puzzle
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="puzzle">
    <div class="puzzle-manage">
        <div class="puzzle-column"><p class="puzzle-timer">00:14</p></div>
        <div class="puzzle-column "><i class="fa-solid fa-rotate-right puzzle-retake"></i></div>
        <div class="puzzle-column next-level"><p class="puzzle-next-level" >Next Level <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></p></div>
    </div>
    <div class="puzzle-area">
        <div class="puzzle-image">
            <div id="app"></div>
        </div>
        <div class="puzzle-options"></div>
    </div>
</div>


<div id="controls">
    <button name="shufflepuzzle">Shuffle</button>
    <button name="resetpuzzle">Reset</button>
    <select name="pickimage">
      <option value="//account.plus-7.com/images/happy-shiba.jpg" selected="selected">Happy Shiba Inu</option>
      <option value="//account.plus-7.com/images/little-shiba.jpg">Little Shiba Inu</option>
      <option value="//account.plus-7.com/images/serious-shiba.jpg">Serious Shiba Inu</option>
      <option value="//account.plus-7.com/images/fluffy-kitties.jpg">Fluffy Kitties</option>
    </select>
    <select name="boardconfig">
      <option value="3x2" selected="selected">3 x 2</option>
      <option value="2x3">2 x 3</option>
      <option value="3x3">3 x 3</option>
      <option value="4x3">4 x 3</option>
      <option value="3x4">3 x 4</option>
      <option value="5x7">5 x 7</option>
      <option value="7x5">7 x 5</option>
    </select>
  </div>

<script src="/client/js/puzzle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js">
