<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light" style="display: flex; justify-content: center;">
    <h4>User Management Processing</h4>
</div>
<!--Container Main end-->