<% layout('Client/layouts/boilerPlate') -%>

<!-- main-area -->
<main>
    <!-- search-popup -->
    <div
      class="modal fade bs-example-modal-lg search-bg popup1"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
          <div class="text-center">
            <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
              >× close</a
            >
          </div>
          <div class="row search-outer">
            <div class="col-md-11">
              <input type="text" placeholder="Search for products..." />
            </div>
            <div class="col-md-1 text-right">
              <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /search-popup -->
    <!-- /search-popup -->
    <!-- breadcrumb-area -->
    <section
      class="breadcrumb-area d-flex align-items-center"
      style="background-image: url(/client/img/testimonial/test-bg.png)"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-lg-12">
            <div class="breadcrumb-wrap text-left">
              <div class="breadcrumb-title">
                <h2>Courses Details</h2>
                <div class="breadcrumb-wrap">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Pricing
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- shop-area -->
    <section
      class="shop-area pt-120 pb-120 p-relative"
      style="
        background-image: url(/client/img/bg/blog-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
      "
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img1.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">Zero to Hero in Python 3</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img2.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">Microsoft Excel Beginner</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img3.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">Digital Marketing Course</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img4.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">React JS, Angular</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img5.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">Laravel API Development</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="product couress-box mb-40">
              <div class="product__img">
                <a href="/courses-details"
                  ><img src="/client/img/featured-courses/courses-img1.png" alt=""
                /></a>
              </div>
              <div class="product__content pt-30">
                <ul
                  class="course-meta course-meta2 review style2 clearfix mb-30"
                >
                  <li class="author">
                    <div class="thumb">
                      <img
                        src="/client/img/testimonial/testi_avatar.png"
                        alt="image"
                      />
                    </div>

                    <div class="text">
                      <a href="#">Robto Jone</a>
                      <p>Teacher</p>
                    </div>
                  </li>
                </ul>
                <div class="price">$95.00</div>
                <h4 class="pro-title">
                  <a href="/courses-details">Zero to Hero in Python 1</a>
                </h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Tenetur accusamus hic ea in autem debitis minima.
                </p>
                <ul class="course-meta desc">
                  <li>
                    <h6>1 year</h6>
                    <span> Course</span>
                  </li>

                  <li>
                    <h6>25</h6>
                    <span> Class Size</span>
                  </li>

                  <li>
                    <h6><span class="course-time">7:00 - 10:00</span></h6>
                    <span> Class Duration</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="pagination-wrap mt-50 text-center">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a href="#"><i class="fas fa-angle-double-left"></i></a>
                  </li>
                  <li class="page-item active"><a href="#">1</a></li>
                  <li class="page-item"><a href="#">2</a></li>
                  <li class="page-item"><a href="#">3</a></li>
                  <li class="page-item"><a href="#">...</a></li>
                  <li class="page-item"><a href="#">10</a></li>
                  <li class="page-item">
                    <a href="#"><i class="fas fa-angle-double-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </section>
    <!-- shop-area-end -->
  </main>
  <!-- main-area-end -->

  <script src="/client/js/about.js"></script>