<% layout('Client/layouts/boilerPlate') -%>

<!-- main-area -->
<main> 
  
    <!-- services-area -->
    <section id="services" class="services-area spacing pb-50 fix" style="
        background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/blog-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
      "
    >
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title center-align text-center mb-30 wow animate__fadeInUp"
            data-wow-delay="0.4s"> 
              <h2>Privacy Statement</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="services-boxs col-md-1">
          </div>
          <div class="contact-right-container col-md-10 p-5"> 
              <h5>Last updated: May 31, 2023</h5>
              <div class="col-md-12" style="margin: 0%">
                <p class="mx-2">At Testpod, we are committed to protecting your privacy and safeguarding your personal information. This Privacy Policy outlines how we collect, use, and protect the data you provide when using our website and services.</p> 
                <h6>1. Information We Collect</h6>
                <div>
                    <p class="mx-2"><b>1.1</b> Personal Information: We may collect personal information, such as your name, email address, and demographic details, when you create an account or interact with our website. This information is used to personalize your experience, provide relevant content and updates, and enhance our services.</p>
                    <p class="mx-2"><b>1.2</b> Usage Data: We collect usage data, including your IP address, browser type, pages visited, and time spent on our website. This data helps us analyze trends, improve our website's performance, and enhance user experience.</p>
                </div>
                <h6>2. Use of Information</h6>
                <div>
                    <p class="mx-2"><b>2.1</b> Personalization: We use the information collected to personalize your experience, such as suggesting relevant flag games, quizzes, and challenges based on your preferences and previous interactions.</p>
                    <p class="mx-2"><b>2.2</b> Communication: We may use your email address to send you updates, newsletters, or promotional offers related to our flag games and services. You can opt out of receiving these communications at any time by following the unsubscribe instructions provided in the email.</p>
                    <p class="mx-2"><b>2.3</b> Analytics and Improvements: We analyze usage data to understand user behavior, improve our website's functionality and performance, and enhance the overall user experience.</p>
                </div>
                <h6>3. Data Security</h6>
                <div>
                    <p class="mx-2">We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. We regularly review and update our security practices to ensure your data is securely stored.</p>
                 </div>
                 <h6>4. Cookies and Tracking Technologies</h6>
                <div>
                    <p class="mx-2">We use cookies and similar tracking technologies to enhance your browsing experience, improve our website's functionality, and gather information about how you interact with our services. You can adjust your browser settings to manage or disable cookies, but please note that some features may not function properly without them.</p>
                </div>
                <h6>5. Third-Party Links</h6>
                <div>
                    <p class="mx-2">Our website may contain links to third-party websites, applications, or services. We are not responsible for the privacy practices or content of these third parties. We encourage you to review their privacy policies before providing any personal information.</p>
                </div>
                <h6>6. Children's Privacy</h6>
                <div>
                    <p class="mx-2">Testpod is intended for users of all ages, including children. However, we do not knowingly collect personal information from children under the age of 13 without verifiable parental consent. If we discover that we have collected personal information from a child without parental consent, we will promptly delete it from our records.</p>
                </div>
                <h6>7. Updates to Privacy Policy</h6>
                <div>
                    <p class="mx-2">We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this policy periodically for any updates. Your continued use of our website and services after any modifications signifies your acceptance of the revised Privacy Policy.</p>
                </div>
                <h6>8. Contact Us</h6>
                <div>
                    <p class="mx-2">If you have any questions, concerns, or requests regarding our Privacy Policy or the handling of your personal information, please contact us at support@testpod.com. We will respond to your inquiries as soon as possible.</p>
                </div>
              </div>
          </div>
          <div class="services-boxs col-md-1">
        </div>
        </div>
      </div>
    </section>
    <!-- services-area-end -->
  
    <!-- services-area -->
  </main>
  <!-- main-area-end -->