<% layout('Client/layouts/boilerPlate') -%>
 
 <!-- main-area -->
 <main>
            
    <!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
            </div>
            <div class="row search-outer">
                <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
    <!-- breadcrumb-area -->
     <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/client/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Serivces Details</h2>    
                            <div class="breadcrumb-wrap">
                      
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                            </ol>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
     <!-- service-details-area -->
    <section id="about" class="about-area about-p pt-120 pb-95 p-relative">
        <div class="container">
            <div class="row">
                 <!-- #right side -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                   <aside class="sidebar-widget">
                    <section id="categories-1" class="widget widget_categories">
                         <h2 class="widget-title">Our Services</h2>
                         <ul>
                            <li><a href="#">Skilled</a> (4)</li>
                            <li><a href="#"> Hot Stone Message</a> (3)</li>
                            <li><a href="#">Book Library</a> (3)</li>
                            <li><a href="#">Online Classes</a> (3)</li>
                            <li><a href="#">Home Projects</a> (3)</li>
                         </ul>
                      </section>
                     
                       
                     
                   </aside>
                </div>
                <!-- #right side end -->
               
                
            <div class="col-lg-8 col-md-12 col-sm-12 order-2">
                   <div class="service-detail">
                <div class="images-box row">
                    <div class="column col-lg-4 col-md-4 col-sm-4 wow fadeInRight pro-col" style="visibility: visible; animation-name: fadeInRight;">
                        <figure class="image"><img src="/client/img/resource/service-img-2.jpg" alt=""></figure>
                        <figure class="image"><img src="/client/img/resource/service-img-3.jpg" alt=""></figure>
                    </div>
                    <div class="column col-lg-8 col-md-8 col-sm-8 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <figure class="image wow fadeIn" style="visibility: visible; animation-name: fadeIn;"><img src="/client/img/resource/service-img-1.jpg" alt=""></figure>
                    </div>

                    
                </div>

                <div class="content-box">
                    <h2>Skilled Lecturers</h2>
                    <p>Pleasure and praising pain was born and I will give you a complete account of the systems, and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally Nor who loves or pursues or desires to obtain pain of itself.</p>

                    <!-- Two Column -->
                    <div class="two-column">
                        <div class="row">
                            
                            <div class="text-column col-xl-6 col-lg-12 col-md-12">
                                <p>Builds and finances utility scale solar and storage projects throughout the United States. We specialize in developing renewable solutions to suit the specific needs of large investor owned utilities.</p>

                                <ul class="list-style-one">
                                    <li>Engine oil level should be regularly</li>
                                    <li>Tyres have a minimum of 1.6mm of tread</li>
                                    <li>Ensure that the electrolyte level is correct</li>
                                    <li>Never remove the radiator when the</li>
                                  
                                </ul>
                            </div>
                            <div class="image-column col-xl-6 col-lg-12 col-md-12">
                                <figure class="image"><a href="/client/img/resource/post-img-1.jpg" class="lightbox-image"><img src="/client/img/resource/post-img-1.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>

                    <h3>Why Choose This Service</h3>

                    <p>Complete account of the systems and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely.</p>

                    <p>Complete account of the systems and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally.</p>

                   
                </div>
            </div>
                </div>
             
            </div>
        </div>
    </section>
    <!-- service-details-area-end -->
    
      <!-- testimonial-area -->
    <section class="testimonial-area pt-120 pb-120" style=" background-image: url(/client/img/testimonial/test-bg-aliments.png); background-repeat: no-repeat; background-position: center; background-color: #fff7f5;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                  <div class="about-title second-atitle pt-15">            
                            <h5>Testimonial</h5>                
                            <h2>
                               See What Our <br>Client Say’s
                            </h2>   
                            <p class="pt-15">Curabitur tristique, sem id sagittis varius, lacus ligula mollis dui, ac condimentum felis metus ut nulla. Aenean ut ultricies turpis, sed sollicitudin eros. Aliquam quis dui ut diam lobortis dignissim ut aliquet ex.</p>
                        </div>
                   
                </div>
                
                <div class="col-lg-6">
                    <div class="testimonial-active">
                      <swiper-container pagination-clickable="true" class="mySwiper" pagination="true"  slides-per-view="1"  free-mode="true">
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                      </swiper-slide>
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                        </swiper-slide>
                        <swiper-slide>
                          <div class="single-testimonial">
                            <div class="testi-author">
                              <img src="/client/img/testimonial/testi_avatar.png" alt="img" />
                              <div class="ta-info">
                                <h6>Eity Akhter</h6>
                                <span>Student</span>
                              </div>
                            </div>
                            <div class="qt-img">
                              <img src="/client/img/testimonial/qt-icon.png" alt="img" />
                            </div>
                            <p>
                              I recently introduced my kids to Testpod's flag game and they absolutely love it! It's a great way for them to learn about different countries and their flags in a fun and interactive way. The game's multiple levels and timed gameplay make it a challenge for them, and they love earning points for correct answers.
                            </p>
                          </div>
                        </swiper-slide>
                      </swiper-container>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
   

 
</main>
<!-- main-area-end -->

<script src="/client/js/about.js"></script>