<% layout('Client/layouts/boilerPlate') -%>

<!-- main-area -->
<main> 
  
    <!-- services-area -->
    <section id="services" class="services-area spacing pb-50 fix" style="
        background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/blog-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
      "
    >
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title center-align text-center mb-30 wow animate__fadeInUp"
            data-wow-delay="0.4s"> 
              <h2>Terms and Conditions</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="services-boxs col-md-1">
          </div>
          <div class="contact-right-container col-md-10 p-5"> 
              <h5>Last updated: May 31, 2023</h5>
              <div class="col-md-12" style="margin: 0%">
                <p class="mx-2">These Terms and Conditions ("Terms") govern your use of the Testpod website located at <a class="text-decoration-underline link-primary" href="http://www.testpod.com/">www.testpod.com</a> ("Website"). Please read these Terms carefully before accessing or using the Website. By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not access or use the Website.</p> 
                <h6>1. Intellectual Property</h6>
                <div>
                    <p class="mx-2">The content, features, and functionality of the Website, including but not limited to text, graphics, logos, images, audio clips, and software, are the property of Testpod or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not modify, reproduce, distribute, or create derivative works based on any portion of the Website without the explicit written permission of Testpod.</p>
                </div>
                <h6>2. User Conduct</h6>
                <div>
                  <p class="mx-2">By using the Website, you agree to abide by the following rules of conduct:</p>
                    <p class="mx-2"><b>2.1</b> You will use the Website solely for lawful purposes and in compliance with all applicable laws and regulations.</p>
                    <p class="mx-2"><b>2.2</b> You will not engage in any activity that disrupts or interferes with the functioning of the Website or its associated services.</p>
                    <p class="mx-2"><b>2.3</b> You will not attempt to gain unauthorized access to any part of the Website or its related systems or networks.</p>
                    <p class="mx-2"><b>2.4</b> You will not upload, post, or transmit any content that is harmful, offensive, infringing, or violates the rights of others.</p>
                </div>
                <h6>3. Disclaimer of Warranties</h6>
                <div>
                    <p class="mx-2">The Website and its content are provided on an "as is" and "as available" basis. Testpod makes no representations or warranties of any kind, whether express or implied, regarding the accuracy, completeness, or reliability of the Website or its content. You acknowledge and agree that your use of the Website is at your own risk.</p>
                 </div>
                 <h6>4. Limitation of Liability</h6>
                <div>
                    <p class="mx-2">To the fullest extent permitted by law, Testpod, its affiliates, officers, directors, employees, agents, and licensors shall not be liable for any direct, indirect, incidental, consequential, special, or exemplary damages arising out of or in connection with your use of the Website or its content. This includes, but is not limited to, damages for loss of profits, goodwill, data, or other intangible losses.</p>
                </div>
                <h6>5. Third-Party Links</h6>
                <div>
                    <p class="mx-2">The Website may contain links to third-party websites or services that are not owned or controlled by Testpod. Testpod has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You acknowledge and agree that Testpod shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.</p>
                </div>
                <h6>6. Modifications to Terms</h6>
                <div>
                    <p class="mx-2">Testpod reserves the right to modify or replace these Terms at any time. Any changes will be effective immediately upon posting the revised Terms on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the revised Terms. It is your responsibility to review these Terms periodically for any updates or changes.</p>
                </div>
                <h6>7. Governing Law</h6>
                <div>
                    <p class="mx-2">These Terms shall be governed by and construed in accordance with the laws of United States. Any disputes arising out of or relating to these Terms or the use of the Website shall be subject to the exclusive jurisdiction of the courts located in United States.</p>
                </div>
                <h6>8. Contact Us</h6>
                <div>
                    <p class="mx-2">If you have any questions, concerns, or inquiries regarding these Terms and Conditions, please contact us at support@testpod.com</p>
                </div>
              </div>
          </div>
          <div class="services-boxs col-md-1">
        </div>
        </div>
      </div>
    </section>
    <!-- services-area-end -->
  
    <!-- services-area -->
  </main>
  <!-- main-area-end -->