<% layout('Client/layouts/boilerPlate') -%> 

<!-- main-area -->
<main>
            
    <!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
            </div>
            <div class="row search-outer">
                <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/client/img/testimonial/test-bg.png)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Thank You</h2>    
                            <div class="breadcrumb-wrap">
                      
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Thank You</li>
                            </ol>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    
  <!-- contact-area -->
    <section id="contact" class="contact-area contact-bg pt-100 pb-100 p-relative fix">
        <div class="container">
     
            <div class="row">
                
                <div class="col-lg-12 text-center">
                   <p><img src="/client/img/bg/contact-img.png" alt="map"></p> 
                     <div class="slider-btn">                                          
                                    <a href="/contact-us" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s"><i class="fas fa-angle-right btn-icon mr-1"></i> Contact Us</a>							
                                </div>           
                </div>
          
            </div>
            
        </div>
       
    </section>
    <!-- contact-area-end -->
  
    
 
</main>
<!-- main-area-end -->

<script src="/client/js/about.js"></script>