<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <h4 class="mb-5">Create Flag Detective Game</h4>
  <%- include ('../partials/SuccessError'); -%>
  <form class="add-quiz-form row needs-validation"
    action="/admin/flag-detective-game/add"
    method="POST"
    novalidate
  >
    <div class="row">
      <div class="col-md-6 position-relative">
        <label for="flagDetectiveID" class="form-label">Select Continent</label>
        <select class="form-select" id="flagDetectiveID" name="continent" required>
          <option hidden>Please Select Continent</option> 
        </select>
      </div>
      <div class="col-md-6 position-relative">
        <label for="level" class="form-label">Select Level</label>
        <select class="form-select" id="level" name="level" required>
          <option hidden>Please Select Level</option>
          <option value="0">Easy</option>  
          <option value="1">Normal</option>  
          <option value="2">Hard</option>  
          <option value="3">Extreme</option>
        </select>
      </div>
    </div>
    <hr />
    <div id="setNewForm">
      <div class="form-data">
        <div class="row">
          <div class="col-md-6 position-relative"> 
            <label for="flagName0" class="form-label">Select Country</label>
            <select class="form-select" name="country" id="allCountries" required> 
                <option hidden>Please Select Country</option> 
            </select> 
            <div class="invalid-tooltip">
                Please provide a Country Name.
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationTooltip03" class="form-label"
              >Flag Url</label
            >
            <div class="add-quiz-state-image">
              <input readonly class="add-quiz-image-input formFile form-control"
                type="text"
                name="flagUrl" 
                id="flagUrl"
                required
              />
            </div>
          </div>
          <div class="col-md-6 mt-2 position-relative">
            <label for="hint" class="form-label">Enter Hint</label>
            <input
              maxlength="200"
              name="hint" 
              type="text"
              class="form-control"
              required
            />
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="col-12 mt-2">
      <button class="btn" style="background-color: #a8171a; color: white" type="submit">
        Submit
      </button>
      <button style="
          float: right;
          border-radius: 50%;
          background-color: #a8171a;
          color: white;"
        class="show-form btn"
        type="button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </form>

  <!-- Add Multiple Questions -->
  <div style="display: none">
    <div id="addNewForm" class="form-data">
      <div class="row">
        <div class="col-md-6 position-relative"> 
          <label for="flagName0" class="form-label">Select Country</label>
          <select class="form-select" name="country" onchange="flagDetectiveSelectedCountry(this)" required> 
              <option hidden>Please Select Country</option> 
          </select> 
          <div class="invalid-tooltip">
              Please provide a Country Name.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationTooltip03" class="form-label"
            >Flag Url</label
          >
          <div class="add-quiz-state-image">
            <input readonly
              class="add-quiz-image-input formFile form-control"
              type="text"
              name="flagUrl" 
              required
            />
          </div>
        </div>
        <div class="col-md-6 position-relative mt-2">
          <label for="hint" class="form-label">Enter Hint</label>
          <input
            maxlength="200"
            name="hint" 
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<!--Container Main end-->
<script src="/admin/js/multiQuestionFlagDetective.js"></script>
