<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <h3>Manage Flag Detective Games</h3>
  <div class="cards row">
    <% data?.forEach(single => { %> 
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card dashboard-card border-bottom-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div class="card-title text-xs font-weight-bold text-uppercase">
                <li><%=single.continent%></li> 
                <li class="manage-state-name">
                    <% if(single.level == 0) {%>
                      <b>Easy</b>
                    <% }else if(single.level == 1){ %>
                      <b>Normal</b>
                    <% }else if(single.level == 2){ %>
                      <b>Hard</b>
                    <% }else if(single.level == 3){ %>
                      <b>Extreme</b>
                    <% } %> 
              </li> 
              </div>
              <div class="manage-action-btn" >
              <div class="dashboard-total-rating"><%=single.questions.length%></div>
              <span>
                <a href="/admin/flag-detective-game/manage/<%=single._id%>/all-questions" style="margin-right: 10px;"><i class="manage-edit-btn fa-solid fa-pen-to-square"></i></a>
                <a onclick="deleteFlagDetectiveGame('<%=single._id%>')"><i class="manage-delete-btn fa-solid fa-trash"></i></a>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <%})%>
  </div>
</div>
<!--Container Main end-->

<script>
  async function deleteFlagDetectiveGame(id) {    
    if(confirm("Sure you want to delete this Game..?"))
    {
      await fetch(`/admin/flag-detective-game/manage/${id}`, {
        method: "DELETE", 
        headers: {
          "Content-Type": "application/json",
        }
      }).then((response) => response.json())
        .then((data) => {  
          window.location.href = data.url;
        })
        .catch((error) => {
          console.log("Error:");
          console.log(error);
        });
    } 
  }  
</script>
