<% layout('Client/layouts/boilerPlate') -%>

<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(/client/img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>Guess Countries</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li> 
                    <li class="breadcrumb-item active" aria-current="page">
                        Guess Countries
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </section>
</main>

<section
  id="about"
  class="about-area about-p pt-120 pb-120 p-relative"
  style="
    background: url(/client/img/features/about-bg-aliments.png) no-repeat;
    background-position: center center;
  ">
  <div class="quiz-citys">
    <h2 class="font-weight-bold mb-2">Continents</h2>
    <p class="font-italic text-muted mb-4 text-center">
      
    </p>
    <div class="row quiz-card">
      <%data.forEach(value => {%> 
      <a href="/guess-country/flag_game/<%=value.region%>/game/0" class="card quiz-card-item col-md-3" style="width: 18rem; padding: 0%">
        <%if(value.region.toLowerCase() == "africa"){ %>
        <img src="/client/img/continents/africa.svg" class="card-img-top card-img-guess-country" alt="..." />
        <%} else if(value.region.toLowerCase() == "america"){%>
        <img src="/client/img/continents/southamerica.svg" class="card-img-top card-img-guess-country" alt="..." />
        <%} else if(value.region.toLowerCase() == "asia"){%>
          <img src="/client/img/continents/Asia.svg" class="card-img-top card-img-guess-country" alt="..." />
        <%} else if(value.region.toLowerCase() == "europe"){%>
          <img src="/client/img/continents/europe.svg" class="card-img-top card-img-guess-country" alt="..." />
        <%} else if(value.region.toLowerCase() == "oceania" || "antarctic"){%>
            <img src="/client/img/continents/antarctica.svg" class="card-img-top card-img-guess-country" alt="..." />
        <% } %>
            <div class="card-body">
          <!-- <div class="d-flex justify-content-between">  -->
            <h5 class="card-title quiz-card-title text-center"><%=value.region.toUpperCase()%></h5> 
          <!-- </div>  -->
        </div>
      </a>
      <%})%>
    </div>
  </div>
</section>


<SCript>
  async function storeLog(id) {
      const counter = 1;
      const response = await fetch(`/track-quiz/${id}`, {
        method: 'POST',
        body: JSON.stringify({
          views:counter
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      }); 
      console.log(response);
    }
</SCript>

<script src="/client/js/about.js"></script>
