<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Testpod</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon"
        href="https://testpod-bucket.s3.amazonaws.com/pages/imgpsh_fullsize_anim.jpeg" />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/client/css/style.css" />
</head>

<body class="pod-body">

    <div style="height: 100%;position: relative;">
        <div class="game" >
            <div class="top-left-image">
                <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/TopLeft.svg" al />
            </div>
            <div class="top-right-image">
                <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/TopRight.svg" al />
            </div>
            <div class="bottom-left-image">
                <img width="85%" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/show-case-flag.png" al />
            </div>
            <header class="pod-adventure-header">
                <div class="pod-adventure-game">
                    <div onclick="location='/'" class="pod-adventure-back-icon"><i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="pod-adventure-progress-line-box">
                        <div class="pod-adventure-progress-line">
                            <div class="time_line" style="
                  background: #58CC02;
                  height: 15px;
                  border-radius: 50px;
                  transition: all 1s;
                  width: 0%;
                  position: relative;
                ">
                                <i class="fa-solid fa-flag progess-flag d-none"></i>
                                <div class="has-fi-fav gold">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="pod-complete-game">
                <div id="Multiple-game" class="multiple-game">

                </div>
                <div id="half-game-screen" class="hello-baba d-none">

                </div>
                <!-- <div class="text-center mb-4 questions-name">
                <span style="font-size: 30px;font-weight: bold;color: back">
                    Can you guess flag of "Pakistan"
                </span>
            </div>
            <div class="pod-adventure">
                <div class="pod-adventure-game" style="height: auto;">
                    <div style="width: 100%;display: flex;justify-content: space-around;">
                        <div class="pod-adventure-guess-option-left">
                            <input class="customRadio"ans="correct" type="radio" name=q1 id="1"/><label
                                class="customLableWimage" for="1"><img class="guess-flag-image" style="height: auto;"
                                    src="/client/img/Flags/01-correct.svg" alt=""></label>'
                        </div>

                        <div class="pod-adventure-guess-option-right">
                            <div class="pod-adventure-guess-option-right">
                                <input class="customRadio"  type="radio" name=q1 id="2"/><label
                                    class="customLableWimage" for="2"><img class="guess-flag-image"
                                        style="height: auto;" src="/client/img/Flags/01-correct.svg" alt=""></label>'
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            </section>
            <section class="pod-adventure-footer">
                <div class="pod-adventure-footer-inner controller">
                    <div style="width: 100%;">
                        <div class="pod-adventure-game" style="justify-content: space-around;width: 100%;padding: 10px;">
                            <div class="controller_buttons">
                                <button class="pod-adventure-skip2 skip-guess-flag" role="button">I Don't
                                    Know</button>
                                <div class="worng-area">
                                    <!-- <span class="cross-guess-flag d-none">
                                    <i class="fa-solid fa-xmark fa-2xl" style="color: #EA2B2B;"></i>
                                </span> -->
                                    <!-- <span class="right-guess-flag ">
                                    <i class="fa-solid fa-check fa-2xl" style="color: #61B800;"></i>
                                </span> -->
                                    <div class="well_done d-none">
                                        <img class="well_done_img" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/correct-vector.svg" />
                                        <h4 class="greats">Well done!</h4>
                                    </div>
                                    <div class="Not_true d-none">
                                        <img class="Not_true_img" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/wrong-vector.svg" />
                                        <h4>Wrong</h4>
                                    </div>
                                </div>
                            </div>
                            <button class="pod-adventure-skip2-disabled check-guess-flag">Check</button>
                            <button class="well_done-continue continue-guess-flag d-none" role="button">
                                <!-- <img
                                src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/continuous-vector.svg" /> -->
                                Continue
                            </button>
                            <button class="well_done-continue game-change d-none" role="button">
                                <!-- <img
                                src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/continuous-vector.svg" /> -->
                                Continue
                            </button>
                        </div>
                        <div id="guess-flag-details" class="d-none"
                            style="display: flex;justify-content: center;align-items: center;gap: 5px;cursor: pointer;position: absolute;
                            bottom: 0px;
                            width: 100%;">
                            <div class="example-popover">
                                <i class="fa-sharp fa-solid fa-lightbulb" style="color: #000;font-size: larger;"></i>
                                <span style="color: #000;font-size: larger">Details</span>
                            </div>
                        </div>
                    </div>
                    <div hidden>
                        <div id="mypopover-content">
                            <p id="details" style="margin: 0%;font-weight: 600;">
                            </p>
                            <!-- <div style="display: flex;justify-content: space-between;">
                            <button class="button-18-disabled  popover_cancel" >Cancel</button>
                            <button class="button-19 popover_skip " >Skip</button>
                        </div> -->
                        </div>
                    </div>
                </div>


                <div class="pod-adventure-footer-inner dublicate d-none">
                    <div style="width: 100%;">
                        <div class="pod-adventure-game" style="justify-content: space-around;width: 100%;">
                            <button class="half-game-continue" role="button">
                                <img class="controllers-zoom-in" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/continuous-vector.svg" />
                                <h4>Continue</h4>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="pod-adventure-footer-inner repeat-wrongQuestion-footer d-none">
                    <div style="width: 100%;">
                        <div class="pod-adventure-game" style="justify-content: space-around;width: 100%;">
                             <button class="repeat-wrongQuestion-button" role="button">
                                <img class="controllers-zoom-in" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/continuous-vector.svg" />
                                <h4 style="margin-bottom: 0%;padding: 10px;">Continue</h4>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="controller-image vert-move">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/orange-ball.svg" alt="" />
                </div>
            </section>
        </div>




        <!-- Result Screen -->

        <section class="pod_adventure_result_screen d-none">
            <div class="top-left-image">
                <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/TopLeft.svg" alt="" />
            </div>
            <div class="top-right-image">
                <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/TopRight.svg" alt="" />
            </div>
            <div class="bottom-left-image">
                <img width="85%" src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/show-case-flag.png" alt="" />
            </div>
            <section
                class="pod-result-center-section">
                <div class="result-chr-png">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/png.svg" />
                </div>
                <div class="result-chr-png-shadow">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/chr-shadow.svg" />
                </div>

                <div style="display: flex;flex-direction: column;gap: 50px;">
                    <div>
                        <h2>Exploring Star!</h2>
                        <p style="margin: 0%;">
                            You have explored 4 countries of Asia
                        </p>
                    </div>
                    <div class="pod-result-box">
                        <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/result-flag.png" />
                        <p class="pod-percentage" style="margin: 0%;font-size:x-large;font-weight: 700;color: #000;">100%</p>
                    </div>
                </div>

            </section>
            <section class="pod-adventure-footer">
                <div class="pod-adventure-footer-inner controller">
                    <div style="width:100%;">
                        <div class="pod-adventure-game" style="justify-content: space-around;width: 100%;">
                            <div class="controller_buttons">
                                <a href="/pod-adventure"><button class="pod-adventure-skip2"
                                        role="button">Retake</button></a>
                            </div>
                            <button class="pod-adventure-skip2 next-unit">Continue</button>
                        </div>
                    </div>
                </div>
                <div class="controller-image vert-move">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pod-adventure/orange-ball.svg" alt="" />
                </div>
            </section>
        </section>

    </div>





    <!-- script -->
    <script>
        var data = <%-JSON.stringify(data)%>
    </script>
    <script src="/client/js/pod-adventure.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

    <script>
            new WOW().init()
    </script>
    <script src="/client/js/form-validation.js"></script>


</body>

</html>