<div class="toggle-show l-navbar bg-white" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="/dashboard" class="nav_logo"
        ><img class="header-logo" src="/admin/img/logo/logo1.svg"
      /></a>
      <div class="nav_list">
        <a id="dashboard" href="/dashboard" class="nav_link">
          <i class="fa-solid fa-gauge"></i>
          <span class="nav_name">Dashboard</span></a
        >
        <a id="user-management" href="/user-management" class="nav_link">
          <i class="fa-solid fa-people-roof"></i>
          <span class="nav_name">User Management</span></a
        >
        <a id="web-analytics" href="#" class="nav_link">
          <div id="accordionExample1">
            <div
              class="btn-toggle align-items-center rounded"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              style="display: flex; align-items: center; gap: 15px"
            >
            <i class="fa-solid fa-chart-simple"></i>  
              <span class="nav_name"> Web Analytics </span>
            </div>
            <div id="collapseThree" class="collapse">
              <ul>
                <li
                  onclick="location='/web-analytics/quizzes'"
                  id="quizze"
                  class="collapse-option nav_link"
                >
                <i class="fa-brands fa-quinscape"></i>
                  <span>Quizzes</span>
                </li>
                <li
                  onclick="location='/web-analytics/flag-game'"
                  id="flag-game"
                  class="nav_link collapse-option"
                >
                <i class="fa-brands fa-font-awesome"></i>
                  <span>Flag Games</span>
                </li>
              </ul>
            </div>
          </div>
        </a>

        <a id="game-management" href="#" class="nav_link">
          <div id="accordionExample1">
            <div
              class="btn-toggle align-items-center rounded"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              style="display: flex; align-items: center; gap: 15px"
            >
            <i class="fa-solid fa-gamepad"></i>  
              <span class="nav_name"> Game Management </span>
            </div>
            <div id="collapseOne" class="collapse">
              <ul>
                <li
                  onclick="location='/game-management/add-flags-games'"
                  id="add-flags-games"
                  class="collapse-option nav_link"
                >
                  <i class="fa-solid fa-plus"></i>
                  <span>Find Country Game</span>
                </li>
                <li
                  onclick="location='/game-management/manage-flags-games'"
                  id="manage-flags-games"
                  class="nav_link collapse-option"
                >
                  <i class="fa-solid fa-broom"></i>
                  <span>Find Country Game Manage</span>
                </li>
                <li
                onclick="location='/game-management/draw-new-flags'"
                id="draw-new-flags"
                class="collapse-option nav_link"
              >
                <i class="fa-solid fa-plus"></i>
                <span>Draw New Flag</span>
              </li>
                <li
                onclick="location='/game-management/draw-flags-games'"
                id="draw-flags-games"
                class="collapse-option nav_link"
              >
                <i class="fa-solid fa-plus"></i>
                <span>Draw Flag Game</span>
              </li>
              <li
                  onclick="location='/game-management/manage-draw-flag-games'"
                  id="manage-flags-games"
                  class="nav_link collapse-option"
                >
                  <i class="fa-solid fa-broom"></i>
                  <span>Draw Flag Game Manage</span>
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a id="quiz-management" href="#" class="nav_link">
          <div id="accordionExample">
            <div
              class="btn-toggle align-items-center rounded"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              style="display: flex; align-items: center; gap: 15px"
            >
              <i class="fa-solid fa-list-check"></i>
              <span class="nav_name"> Quiz Management </span>
            </div>
            <div id="collapseTwo" class="collapse">
              <ul>
                <li
                  onclick="location='/add-test'"
                  id="add-test"
                  class="collapse-option nav_link"
                >
                  <i class="fa-solid fa-plus"></i>
                  <span>Add Test</span>
                </li>
                <li
                  onclick="location='/manage-quiz'"
                  id="manage-quiz"
                  class="nav_link collapse-option"
                >
                  <i class="fa-solid fa-broom"></i>
                  <span>Manage Quiz</span>
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a id="result-management" href="/result-management" class="nav_link">
          <i class="fa-solid fa-note-sticky"></i>
          <span class="nav_name">Result Management</span></a
        >
        <a id="content-management" href="/content-management" class="nav_link">
          <i class="fa-brands fa-contao"></i>
          <span class="nav_name">Content Management</span>
        </a>
        <a id="blogs-management" href="/add-draw-flages" class="nav_link">
          <i class="fa-solid fa-blog"></i>
          <span class="nav_name">Blogs Management</span></a
        >
        <a id="analytics" href="/analytics" class="nav_link">
          <i class="fa-solid fa-book-tanakh"></i>
          <span class="nav_name">Analytics</span>
        </a>
      </div>
    </div>
  </nav>
</div>
