<div class="toggle-show l-navbar bg-white" id="nav-bar">
    <nav class="nav">
        <div> <a href="/dashboard" class="nav_logo"><img width="120px" src="images/logo/logo1.svg" /></a>
            <div class="nav_list">
                <a href="/dashboard" class="nav_link">
                  <i class="fa-solid fa-gauge"></i>
                    <span class="nav_name">Dashboard</span></a>
                 <a href="userManagememt.html" class="nav_link">
                  <i class="fa-solid fa-people-roof"></i>
                     <span class="nav_name">User Management</span></a>
                     <a href="webAnalytics.html" class="nav_link">
                      <i class="fa-solid fa-chart-simple"></i>
                         <span class="nav_name">Web Analytics</span> </a>
                         
                             <a href="gameManagement.html" class="nav_link">
                              <i class="fa-solid fa-gamepad"></i>  
                                 <span class="nav_name">Game Management</span></a>
                              <a href="#" class="nav_link active">
                                <i class="fa-solid fa-list-check"></i>
                                 <div id="accordionExample">
                                        <sapn class="nav_name" data-bs-toggle="collapse nav_link" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Quiz Management
                                            <i class="fa-solid fa-angle-right"></i>
                                        </span>
                                        <div id="collapseTwo" class="accordion-collapse collapse show nav_link active" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                            <i class="fa-solid fa-plus"></i>
                                            <h7 onclick="location='/add-quiz'" >Add Quiz</h7>
                                          </div>
                                      </div>
                                      <div id="collapseTwo" class="accordion-collapse collapse show nav_link" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                          <i class="fa-solid fa-broom"></i>
                                          <h7 onclick="location='/all-quiz'" >Manage Quiz</h7>
                                        </div>
                                    </div>
                                    </div>
                                </a>
                                <a href="resultManagement.html" class="nav_link">
                                  <i class="fa-solid fa-note-sticky"></i>
                                  <span class="nav_name">Result Management</span></a>
                                  <a href="contentManagement.html" class="nav_link"> 
                                      <i class="fa-brands fa-contao"></i>
                                      <span class="nav_name">Content Management</span> </a>
                                      <a href="blogsManagement.html" class="nav_link">
                                          <i class="fa-solid fa-blog"></i>
                                           <span class="nav_name">Blogs Management</span></a>
                                   <a href="analytics.html" class="nav_link">
                                      <i class="fa-solid fa-book-tanakh"></i>
                                      <span class="nav_name">Analytics</span> </a>
                                    </div>
        </div>
    </nav>
</div>