<div class="toggle-show l-navbar bg-white" id="nav-bar">
    <nav class="nav">
        <div> <a href="/dashboard" class="nav_logo"><img class="header-logo" src="/admin/img/logo/logo1.svg" /></a>
            <div class="nav_list">
                <a id="dashboard" href="/dashboard" class="nav_link">
                  <i class="fa-solid fa-gauge"></i>
                    <span class="nav_name">Dashboard</span></a>
                 <a id="user-management" href="/user-management" class="nav_link">
                  <i class="fa-solid fa-people-roof"></i>
                     <span class="nav_name">User Management</span></a>
                     <a id="web-analytics" href="/web-analytics" class="nav_link">
                      <i class="fa-solid fa-chart-simple"></i>
                         <span class="nav_name">Web Analytics</span> </a>
                         
                             <a id="game-management" href="/game-management" class="nav_link">
                              <i class="fa-solid fa-gamepad"></i>  
                                 <span class="nav_name">Game Management</span></a>
                                 <a id="quiz-management" href="#" class="nav_link">
                                   <div id="accordionExample">
                                    <div class="btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" style="display: flex;align-items: center;gap: 15px;">
                                    <i class="fa-solid fa-list-check"></i>
                                    <span class="nav_name">
                                        Quiz Management
                                    </span>
                                  </div>
                                    <div id="collapseTwo" class="collapse">
                                      <ul>
                                        <li onclick="location='/add-quiz'" id="add-quiz"  class="collapse-option nav_link">
                                        <i class="fa-solid fa-plus"></i>
                                        <span >Add Quiz</span>
                                      </li>
                                      <li onclick="location='/manage-quiz'" id="manage-quiz" class="nav_link collapse-option">
                                        <i class="fa-solid fa-broom"></i>
                                        <span>Manage Quiz</span>
                                      </li>
                                      </ul>
                                  </div>
                                </div>
                                  </a>
                                <a id="result-management" href="/result-management" class="nav_link">
                                  <i class="fa-solid fa-note-sticky"></i>
                                  <span class="nav_name">Result Management</span></a>
                                  <a id="content-management" href="/content-management" class="nav_link"> 
                                      <i class="fa-brands fa-contao"></i>
                                      <span class="nav_name">Content Management</span> </a>
                                      <a id="blogs-management" href="/blogs-management" class="nav_link">
                                          <i class="fa-solid fa-blog"></i>
                                           <span class="nav_name">Blogs Management</span></a>
                                   <a id="analytics" href="/analytics" class="nav_link">
                                      <i class="fa-solid fa-book-tanakh"></i>
                                      <span class="nav_name">Analytics</span> </a>
                                    </div>
        </div>
    </nav>
</div>