<!-- <div class="container w-25"> -->
    <% if(error && error.length > 0) { %>
        <div id="err" class="alert alert-danger" style="padding: 7px;" role="alert">
            <%= error %>
            <!-- <% error.forEach(function(err){ %>
              <%= err %>
            <% }) %> -->
        </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div id="err" class="alert alert-success" style="padding: 7px;" role="alert">
            <%= success %>
        </div>
    <% } %>
<!-- </div> -->